.stackcards__container {
    gap: 10px;
    height: 100%;
}

.aboutstack__container h2 {
    margin-bottom: 20px;
    color: #eeabab;
}

.aboutstack__technologies {
    gap: 20px;
    margin-top: 20px;
}

.aboutstack__technologies > div {
    width: 50%;
}

.aboutstack__lower--cards {
    gap: 20px;
}