/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* RESET */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

html {
    background-color: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body {
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* HELPERS */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    min-width: 100vw;
    padding: 0 20vw;
    margin: 0 auto;
}

/* STYLES */

.wallpaper__gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    z-index: 9;

    opacity: 0.15;
    filter: contrast(3.6) brightness(0.6);
    background-image: linear-gradient(to right top, #0c6d40, #598d8f, #008793, #548d76, #a8eb12);
}

.wallpaper__tvline {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;

    opacity: 0.1;

    background-image: url("./src/images/tv.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.wallpaper > div {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 1s all ease-in-out;
}

/* WELCOME TEXT CONTAINER */

.text__container {
    z-index: 6;
    position: relative;
    padding: 0 15px;

    justify-content: center;
    align-items: center;
    transition: 1s all ease-in-out;
}

.text__container h1 {
    font-size: 12em;
    z-index: 6;
    text-align: center;
    letter-spacing: 5px;
}

.text__container p {
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    width: fit-content;
}

/* GLITCH EFFECT */

.glitch::before, .glitch::after {
    content: attr(glitchContent);
    display: block;
    position: absolute;
    transition: 0.05s all ease-in-out;
}

.glitch::before {
    color: #e91e63;
    z-index: -2;
    left: var(--glitch-before-offset);
}

.glitch::after {
    color: #2196f3;
    z-index: -1;
    top: 0px;
    left: var(--glitch-after-offset);
}

.clickable__box {
    width: 1100px;
    height: 300px;
    z-index: 10;
    position: absolute;
}

.clickable__box:hover {
    cursor: pointer;
}

/* CONTENT CONTAINER */

.content__container {
    display: none;
    z-index: 12;

    width: 100%;
    height: 100%;
}

header { 
    min-height: 60px;
    height: 60px;
    
    padding: 0 20px;
    
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);

    opacity: 0;
}

.header__logo {
    gap: 10px;
    font-size: 1.6em;
    align-items: center;
}

.header__logo--divider {
    color: #2bad61;
    font-size: 1.4em;
}

.header__logo p:first-of-type {
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-right: -6px;
    font-size: 1.2em;
}

.header__networks {
    font-size: 1.4em;
    gap: 20px;
    align-items: center;
}

.header__networks a {
    gap: 10px;
    align-items: center;
}

.header__networks a img {
    width: 25px;
    height: 25px;
}

.header__networks--bracket {
    height: 30px;
    width: fit-content;
}

.header__networks > img:last-of-type {
    height: 30px;
    width: fit-content;
    transform: rotate(180deg);
}

footer {
    height: 60px;
    align-items: center;
    justify-content: center;
    color: #727272;

    opacity: 0;
}

main {
    padding: 0 20px;
    flex-grow: 1;
    gap: 20px;
}

/* LEFT SIDE */

.leftside {
    min-width: 520px;
    opacity: 0;
}

.explorer {
    opacity: 1;
    background-color: #171921;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
}

.explorer__title {
    height: 34px;
    padding: 0 18px 0 10px;
    border-bottom: 1px solid #0a0b0f;

    align-items: center;
    justify-content: space-between;
}

.explorer__title--leftside img {
    width: 16px;
    height: 16px;
} 

.explorer__title--leftside img:last-of-type {
    width: 22px;
    height: 17px;
    filter: contrast(0) brightness(2);
} 

.explorer__title--rightside {
    gap: 36px;
}

.explorer__title--rightside img {
    width: 10px;
    height: 10px;
    filter: brightness(1.4);
}

.explorer__title--leftside {
    gap: 20px;
}

.explorer__files {
    height: 34px;
    background-color: #171921;
    border-bottom: 1px solid #0a0b0f;
}

.explorer__files--current {
    font-size: 1.1em;
    color: #b4b4b4;
    background-color: #12141a;
    border-top: 1px solid #98a2b5;
    border-right: 1px solid #0a0b0f;
    border-bottom: 1px solid #12141a;

    padding: 10px;
    width: 147px;
    height: calc(100% + 1px);

    align-items: center;
    justify-content: space-between;
}

.explorer__files--current > div {
    gap: 10px;
    align-items: center;
}

.explorer__files--current div img {
    height: 11px;
    width: 14px;
}

.explorer__files--current > img {
    height: 8px;
    width: 8px;
}

.explorer__editor {
    background-color: #12141a;
    font-size: 1.3em;
    flex-grow: 1;
    gap: 1px;

    overflow-y: scroll;
}

.explorer__editor--line {
    height: 19px;
}

.line__number {
    width: 68px;
    color: #383a43;
    border-right: 1px solid #1f2028;
    text-align: center;
}

.line__indent { width: 32px; }
.line__blue { color: #0da6ff; }
.line__green { color: #bdff7a; }
.line__yellow { color: #ffd15c; }

.line__symbol {
    color: #585a5c;
    margin-left: 3px;
    margin-right: 12px;
    font-weight: 600;
}

/* RIGHT SIDE */

.rightside {
    width: 100%;
    opacity: 0;
}

.terminal {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    font-size: 1.4em;
    gap: 2px;
}

.terminal__command {
    gap: 10px;
    align-items: center;
}

.terminal__command img {
    width: 13px;
    height: 11px;
}

.terminal__command--arrows > p:nth-child(1) {
    color: #a04336;
}

.terminal__command--arrows > p:nth-child(2) {
    color: #80a265;
}

.terminal__command--arrows > p:nth-child(3) {
    color: #eab675;
}

.terminal__command > p:nth-child(3) {
    color: #83c0bd;
}

.terminal__techstack {
    margin: 10px 0 30px 0px;
    width: 100%;
    gap: 20px;
}

.terminal__techstack--tech {
    background-color: rgba(80, 80, 80, 0.4);

    height: 120px;
    width: 140px;
    opacity: 0.8;

    justify-content: center;
    align-items: center;
}

.terminal__techstack--tech > div {
    align-items: center;
    gap: 8px;
}

.terminal__techstack--tech > div p {
    color: rgb(230, 230, 230);
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: -8px;
}

.terminal__techstack--tech img {
    width: 60px;
}

.terminal__projects {
    margin: 10px 0 30px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.terminal__projects--box {
    width: 400px;
    background-color: rgba(60, 60, 60, 0.4);
    color: rgb(210, 210, 210);
    padding: 20px;
    gap: 10px;
}

.terminal__projects--box h2 {
    font-size: 2.4em;
    color: #2bad61;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.terminal__projects--box h3 {
    font-size: 1.1em;
}

.terminal__projects--box p {
    font-size: 0.9em;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}