/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* RESET */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

html {
    background-color: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body {
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* HELPERS */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    min-width: 100vw;
    padding: 0 20vw;
    margin: 0 auto;
}

/* STYLES */

.wallpaper__gradient {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;

    opacity: 0.2;
    filter: contrast(1.8);
    background: linear-gradient(180deg, #2a86e2, #201b20);
}

.wallpaper__tvline {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;

    opacity: 0.1;

    background-image: url("./src/images/tv.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.wallpaper > div {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    /* transition: 1s all ease-in-out; */
}

/* WELCOME TEXT CONTAINER */

.text__container {
    z-index: 6;
    position: relative;
    padding: 0 15px;

    justify-content: center;
    align-items: center;
    /* transition: 1s all ease-in-out; */
}

.text__container h1 {
    font-size: 12em;
    z-index: 6;
    text-align: center;
    letter-spacing: 5px;
}

.text__container p {
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    width: fit-content;
}

/* GLITCH EFFECT */

.glitch::before, .glitch::after {
    content: attr(glitchContent);
    display: block;
    position: absolute;
    transition: 0.05s all ease-in-out;
}

.glitch::before {
    color: #e91e63;
    z-index: -2;
    left: var(--glitch-before-left);
}

.glitch::after {
    color: #2196f3;
    z-index: -1;
    top: 0px;
    left: var(--glitch-after-left);
}

.clickable__box {
    width: 1100px;
    height: 300px;
    z-index: 10;
    position: absolute;
}

.clickable__box:hover {
    cursor: pointer;
}

/* CONTENT CONTAINER */

.content__container {
    display: none;
    z-index: 12;

    width: 100%;
    height: 100%;
}

header { 
    height: 50px;
    padding: 0 20px;
    
    align-items: center;
    justify-content: space-between;
}

footer {
    height: 50px;
    align-items: center;
    justify-content: center;
}

main {
    padding: 0 20px;
    flex-grow: 1;
    gap: 20px;
}

/* LEFT SIDE */

.leftside {
    width: 35%;
}

.explorer {
    opacity: 0.9;
    height: 100%;
    background-color: #171921;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.explorer__title {
    height: 34px;
    padding: 0 18px 0 10px;
    border-bottom: 1px solid #0a0b0f;

    align-items: center;
    justify-content: space-between;
}

.explorer__title--leftside img {
    width: 16px;
    height: 16px;
} 

.explorer__title--leftside img:last-of-type {
    width: 22px;
    height: 17px;
    filter: contrast(0) brightness(2);
} 

.explorer__title--rightside {
    gap: 36px;
}

.explorer__title--rightside img {
    width: 10px;
    height: 10px;
    filter: brightness(1.4);
}

.explorer__title--leftside {
    gap: 20px;
}

/* RIGHT SIDE */

.rightside {
    width: 100%;
}

.terminal {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    font-size: 1.4em;
    gap: 2px;
}

.terminal__command {
    gap: 10px;
    align-items: center;
}

.terminal__command img {
    width: 13px;
    height: 11px;
}

.terminal__command--arrows > p:nth-child(1) {
    color: #a04336;
}

.terminal__command--arrows > p:nth-child(2) {
    color: #80a265;
}

.terminal__command--arrows > p:nth-child(3) {
    color: #eab675;
}

.terminal__command > p:nth-child(3) {
    color: #83c0bd;
}

.terminal__techstack {
    margin: 10px 0px;
    width: 100%;
    gap: 10px;
}

.terminal__techstack--tech {
    background-image: url('./src/images/hexagon1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 120px;
    width: 140px;
    opacity: 0.8;

    justify-content: center;
    align-items: center;
}

.terminal__techstack--tech > div {
    align-items: center;
    gap: 8px;
}

.terminal__techstack--tech > div p {
    color: rgb(163, 163, 163);
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: -8px;
}

.terminal__techstack--tech img {
    width: 60px;
}

.terminal__projects {
    margin: 10px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.terminal__projects--box {
    width: 400px;
    background-color: rgba(10, 10, 10, 0.6);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.terminal__projects--box h2 {
    font-size: 2.4em;
    color: #d61e55;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.terminal__projects--box h3 {
    font-size: 1.1em;
}

.terminal__projects--box p {
    font-size: 0.9em;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}