/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

/* RESET */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */
html {
    background-color: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body {
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* HELPERS */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    min-width: 100vw;
    padding: 0 20vw;
    margin: 0 auto;
}

.grid {
    display: grid;
}

/* STYLES */
.gradient {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;

    opacity: 0.25;
    background: linear-gradient(180deg, #0071db, #201b20);
}

.tvlines {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;

    opacity: 0.1;

    background-image: url("./src/images/tv.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.wallpaper > div {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(0.8) contrast(0.9) saturate(0.3);

    transition: 1s all ease-in-out;
}

.wallpaper__layer1 {
    background-image: url("./src/images/c1.svg");
    z-index: 7;
}

.wallpaper__layer2 {
    background-image: url("./src/images/c2.svg");
    z-index: 6;
}

.wallpaper__layer3 {
    background-image: url("./src/images/c3.svg");
    z-index: 5;
}

.wallpaper__layer4 {
    background-image: url("./src/images/c4.svg");
    z-index: 4;
}

.wallpaper__layer5 {
    background-image: url("./src/images/c5.svg");
    z-index: 3;
}

.wallpaper__layer6 {
    background-image: url("./src/images/c6.svg");
    z-index: 2;
}

.wallpaper__layer7 {
    background-image: url("./src/images/c7.jpg");
    z-index: 1;
}

.text__container {
    z-index: 6;
    position: relative;
    padding: 0 15px;

    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 12em;
    z-index: 6;
    text-align: center;
    letter-spacing: 5px;
}

p {
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    width: fit-content;
}

.glitch::before, .glitch::after {
    content: attr(glitchContent);
    display: block;
    position: absolute;
    transition: 0.05s all ease-in-out;
}

.glitch::before {
    color: #e91e63;
    z-index: -2;
    left: var(--glitch-before-left);
}

.glitch::after {
    color: #2196f3;
    z-index: -1;
    top: 0px;
    left: var(--glitch-after-left);
}

.clickable__box {
    width: 1100px;
    height: 300px;
    z-index: 10;
    position: absolute;
}

.clickable__box:hover {
    cursor: pointer;
}