.terminal__projects--box {
    width: 400px;
    color: rgb(210, 210, 210);
    background-color: rgba(60, 60, 60, 0.4);

    justify-content: space-between;
}

.terminal__projects--box h2 {
    color: #2bad61;
    font-size: 2.4em;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
}

.terminal__projects--box h3 {
    font-size: 1.1em;
}

.terminal__projects--box p {
    font-size: 0.9em;
}

.projectbox__text--container {
    padding: 20px;
    height: 100%;
    gap: 10px;
}

.projectbox__links--container {
    align-items: center;
    justify-content: space-between;

    height: 35px;
    min-height: 35px;
}

.projectbox__links--container a {
    height: 100%;
    width: 100%;

    font-size: 0.8em;
    text-transform: uppercase;

    align-items: center;
    justify-content: center;
}

.projectbox__links--container div {
    background-color: rgba(60, 60, 60, 0.4);
    border-top: 1px solid rgba(90, 90, 90, 0.4);
    border-bottom: 1px solid rgba(90, 90, 90, 0.4);

    flex-grow: 1;
    height: 100%;
    min-width: 50%;

    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
}

.projectbox__links--container div:last-of-type {
    border-left: 1px solid rgba(90, 90, 90, 0.4);
    width: 50%;
}

.projectbox__links--container div:hover {
    background-color: #2bad613b;
    cursor: pointer;
}

@media (max-width: 1450px) {
    .terminal__projects--box {
        width: 100%;
        min-height: 170px;
    }
}

@media (max-width: 900px) {
    .projectbox__text--container {
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
}