.about__container {
    justify-content: center;
    height: 100vh;
}

.about__container h1 {
    font-size: 3.4em;
}

.about__navbar {
    border: 1px solid #b17b7b;
    justify-self: flex-start;
    width: fit-content;
    align-self: center;
    padding: 12px 80px;
    gap: 100px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.about__navbar li {
    padding: 4px 20px;
    border-radius: 6px;
    color: #7a5f5f;
}

.about__navbar li:hover {
    color: white;
    cursor: pointer;
}

.about__navbar .active {
    color: white;
}

.about__text { 
    gap: 10px;
    padding: 0 200px;
    height: 100%;
}

.shape__divider {
    width: 100%;
    transform: rotate(180deg);
    background-color: white;
}

.shape__divider svg {
    display: block;
    height: 93px;
    width: calc(125% + 1.3px);
}

.shape__divider path {
    fill: #282433;
}