.about__container {
    height: 100vh;
    justify-content: center;
}

.about__container h1 {
    font-size: 3.4em;
}

.about__navbar {
    align-self: center;
    justify-self: flex-start;

    gap: 100px;
    width: fit-content;
    padding: 12px 80px;
    margin-bottom: 100px;

    border-radius: 10px;
    border: 1px solid #b17b7b;
}

.about__navbar li {
    color: #7a5f5f;
    padding: 4px 20px;
    border-radius: 6px;
}

.about__navbar li:hover {
    color: white;
    cursor: pointer;
}

.about__navbar .active {
    color: white;
}

.about__text {
    gap: 10px;
    height: 100%;
    padding: 0 200px;
}

.shape__divider {
    width: 100%;
    transform: rotate(180deg);
    background-color: white;
}

.shape__divider svg {
    height: 93px;
    display: block;
    width: calc(125% + 1.3px);
}

.shape__divider path {
    fill: #282433;
}

@media (max-width: 1700px) {
    .about__container {
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 1400px) {
    .about__text {
        padding: 0;
        align-items: center;
    }

    .about__container {
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .about__navbar {
        gap: 50px;
        padding: 12px 40px;
    }
}

@media (max-width: 600px) {
    .about__navbar {
        gap: 20px;
        padding: 12px 10px;
    }
}