.projectsCard {
    width: 420px;
    height: 280px;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 1px solid rgb(210, 210, 210);
}

.projectsCard__content {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.projectsCard__content:hover {
    opacity: 1;
}

.projectsCard__lower {
    justify-content: space-between;
}