.parallaxtext__container {
    z-index: 6;
    width: 100%;
    height: 100%;

    opacity: 0.8;
    position: absolute;

    align-items: center;
    justify-content: center;
    color: rgb(240, 240, 240);

    transition: 1s all ease-in-out;
}

.parallaxtext__container h1 {
    z-index: 6;
    font-size: 7em;
    letter-spacing: 5px;
    text-align: center;

    position: relative;
}

.parallaxtext__container h3 {
    position: relative;

    text-align: center;
    width: fit-content;
    margin-top: -22px;
    margin-bottom: 16px;

    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.parallaxtext__container p {
    color: rgb(180, 180, 180);
    position: relative;

    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* GLITCH EFFECT */

.glitch__effect {
    overflow: hidden;
}

.glitch__effect::before, .glitch__effect::after {
    display: block;
    position: absolute;
    content: attr(glitchContent);
    transition: 0.05s all ease-in-out;
}

.glitch__effect::before {
    color: #e91e63;
    width: 100%;
    z-index: -2;
    left: var(--glitch-before-offset);
}

.glitch__effect::after {
    color: #2196f3;
    top: 0;
    width: 100%;
    z-index: -1;
    left: var(--glitch-after-offset);
}