.contentmain__container {
    padding: 0 20px;
    gap: 10px;
}

@media (max-width: 1400px) {
    .contentmain__container {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .contentmain__container {
        padding: 0 10px;
    }
}