.parallaxbox__container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.parallaxbox__click {
    width: 70%;
    height: 50%;
}

.parallaxbox__click:hover {
    cursor: pointer;
}